# The Docker image that will be used to build your app
image: node:lts

stages:
  - deploy

pages:
  stage: deploy
  only:
    - main
  cache:
    key:
      files:
        - package-lock.json
      prefix: yarn
    paths:
      - node_modules/
  script:
    - yarn install
    - yarn build
    - cp -a dist/. public
  artifacts:
    paths:
      - public


